body {
    /* background-image: url(clement-h-544786-unsplash.jpg);
    background-size: cover;
    background-repeat:no-repeat; */
    background-position: center;
    background-image: url(clement-h-544786-unsplash.jpg);
    background-size: cover;
    height: 100%;
}

.col {
    /* border: 2px solid black; */
    text-align: center;
}

h1 {
    color: white;
}

.top {
    margin-top: 13%;
}

button {
    margin-top: 15%;
}
